.main{  
        border : 2px solid gray;
        width:170px;
        border-radius: 8px 8px 8px 8px;
        margin: 0 auto;     
}
.result{
            width:93%;
            margin-top:3px;
            margin-left:2px;
            height:40px;
            border-radius:2px;
            font-size:20px;
        
}
/* .history{
                width: 96%;              
} */

.btn{
        width:38px;
        margin-top:5px;
        font-size: 15px;
}
.buttons{
                margin-left:3px;
                margin-bottom:5px;
}
